@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "EBGaramond";
  src: url("/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "EBGaramond";
  src: url("/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: "EBGaramond";
  src: url("/fonts/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
  font-style: monospace;
  font-weight: 400;
}

::selection {
  @apply bg-black dark:bg-white text-white dark:text-black;
}

html,
body {
  @apply text-lg;
  font-family: "EBGaramond", serif;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

a {
  @apply font-mono underline underline-dotted;
  text-decoration-thickness: 1px;
  text-decoration-color: inherit;
  -webkit-tap-highlight-color: transparent;
}

@layer utilities {
  .underline-dotted {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

@layer components {
  .crt-screen {
    @apply pointer-events-none fixed inset-0 z-50;

    background: linear-gradient(rgba(255, 255, 255, 0.02) 50%,
        rgba(0, 0, 0, 0.18) 50%),
      linear-gradient(90deg,
        rgba(255, 0, 0, 0.03),
        rgba(0, 255, 0, 0.02),
        rgba(0, 0, 255, 0.03));

    background-size: 100% 8px, 4px 100%;
    mix-blend-mode: multiply;
  }

  .crt-screen::after {
    content: "";
    @apply absolute inset-0;
    background: radial-gradient(circle,
        transparent 60%,
        rgba(0, 0, 0, 0.3) 150%);
    animation: crt-flicker 0.1s infinite;
  }
}